<h1>Component</h1>
<!-- <ul>
  <li *ngFor='let fellow of fellows'>
    <p>{{ fellow.lastName }}, {{ fellow.firstName }}</p>
  </li>
</ul> -->
<div class='display-fellows'>
<table>
  <tr>
    <td *ngFor='let fellow of fellows'>
      <p><span class='fellow-name'>{{ fellow.lastName }}, {{ fellow.firstName }}</span></p>
      <p><span class='hover-content'>Location: {{ fellow.location}}</span></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>NAME: <strong>{{ fellow.firstName }} {{fellow.lastName }}</strong></p>
    </td>
  </tr>
</table>
</div>