<h1>Engineering</h1>
<!-- <ul>
  <li *ngFor='let fellow of fellows'>
    <p>{{ fellow.lastName }}, {{ fellow.firstName }}</p>
  </li>
</ul> -->
<div class='display-fellows'>
<table>
  <tr>
    <td class='wrap fellow' *ngFor='let fellow of fellows'>
      <p><span class='fellow-name'>{{ fellow.lastName }}, {{ fellow.firstName }}</span></p>
      <p><span class='hover-content'>{{ fellow.location}}</span></p>
    </td>
  </tr>
  <!--<tr> 
    <td>
      <p>NAME: <strong><span class='uppercase'>{{ fellow.firstName }} {{fellow.lastName }}</span></strong></p>
    </td>
  </tr> -->
</table> 
</div>